<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Business Website</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!----Navigation bar---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='image/predictailogo.png')}}"</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#top">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">OUR TEAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#price">PRICE PLANS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonials">TESTIMONIALS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a style="background-color:#19b5b1;" class="nav-link " href="/trial"><b>TRIAL</a>
      </li>
    </ul>

  </div>
</nav>
</section>
<section>
  <!------Intro------>
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="img-box">
            <img src="{{url_for('static', filename='image/leftgirl.jpg')}}" class="center" height="400">
          </div>
        </div>
        <div class="col-md-6">
        <div class="about-content">
          COVID-19 has accelerated the transition from visiting physical stores to online shopping. Predicting customer
          behavior in the context of e-commerce is gaining importance. It can increase customer satisfaction and sales, resulting in
          higher conversion rates and a competitive advantage, by facilitating a more personalized shopping process.
          <p>At <b>PREDICT.AI</b>, we aim to <b>HELP GROWING STARTUPS AND
BUSINESSES</b> utilize their customer data and build models for
<b>PREDICTING CUSTOMER BEHAVIOUR</b>. Comparing models
will give further insight into the performance differences on
static customer data. Conducting descriptive data analysis and
data visualisation will help our clients extract more value from
data and make decisions to boost their customer satisfaction</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="img-box">
            <img src="{{url_for('static', filename='image/rightboy.jpg')}}" class="center" height="400">
          </div>
        </div>
      </div>
    </div>
  </section>
<!------Services------>
  <!-----Slider----->
  <div id="slider">
    <h1>Your Dashboard</h1>
    <div id="headerSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
      <li data-target="#headerSlider" data-slide-to="1"></li>
      <li data-target="#headerSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='image/banner1.png')}}" class="d-block img-fluid">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='image/banner2.png')}}" class="d-block img-fluid">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='image/banner3.png')}}" class="d-block img-fluid">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='image/banner4.png')}}" class="d-block img-fluid">
        <div class="carousel-caption">
        </div>
        <!---div class="carousel-caption">
          <h5>How to sell existing customer</h5>
        </div>--->
      </div>
    </div>
    <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</section>
  <!------About------>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h2>About Us</h2>
          <div class="about-content">
            We are group3 from the ME781 course on Data Mining and Engineering applications comprising
            of a team of mechanical engineering, data scientists and UI/UX designers with business acumen
            and entreprenuership enthusiasm
          </div>
          <button type="button" class="btn btn-primary">Read More>></button>
        </div>
        <div class="col-md-6 skills-bar">
          <p>Business Acumen</p>
          <div class="progress">
            <div class="progress-bar" style="width: 80%">80%</div>
          </div>
          <p>UX Design</p>
          <div class="progress">
            <div class="progress-bar" style="width: 40%">40%</div>
          </div>
          <p>Mechanical Engineering</p>
          <div class="progress">
            <div class="progress-bar" style="width: 90%">90%</div>
          </div>
          <p>Data Science</p>
          <div class="progress">
            <div class="progress-bar" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!------Services------>
<section id="services">
  <div class="container">
    <h1>Our services</h1>
    <div class="row services">
      <div class="col-md-3 text-center">
        <div class="icon">
          <i class="fa fa-desktop"></i>
        </div>
        <h3>Chatbot</h3>
        <p>We give you the option of chatting with our bot for 24/7 service</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <i class="fa fa-line-chart"></i>
        </div>
        <h3>Customer prediction</h3>
        <p>A dashboard to analyse trends and look at results</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <i class="fa fa-tablet"></i>
        </div>
        <h3>User experience</h3>
        <p>The site can be navigated easily</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <i class="fa fa-paint-brush"></i>
        </div>
        <h3>Convenient access</h3>
        <p>Access it from anywhere at anytime</p>
      </div>

    </div>
  </div>
</section>
<!------Team Members----->
<section id="team">
  <div class="container">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col-md-4 profile-pic text-center">
        <div class="img-box">
          <img src="{{url_for('static', filename='image/tanya.jpg')}}" class="img-resposive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Tanya Gupta</h2>
        <h3>Web Developer</h3>
        <p>Final year mechanical engineering student with experience in UI/UX design and public policy</p>
      </div>
      <div class="col-md-4 profile-pic text-center">
        <div class="img-box">
          <img src="{{url_for('static', filename='image/bavish.jfif')}}" class="img-resposive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Bavish</h2>
        <h3>Business Head</h3>
        <p>Senior in mechanical engineering with experience in finance, economics and business</p>
      </div>
      <div class="col-md-4 profile-pic text-center">
        <div class="img-box">
          <img src="{{url_for('static', filename='image/srihith.jpg')}}" class="img-resposive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Srihith Bharadwaj</h2>
        <h3>Product Designer</h3>
        <p>Mechanical Engineering junior with experience ranging from product design to coding</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 profile-pic text-center">
        <div class="img-box">
          <img src="{{url_for('static', filename='image/mudit.jfif')}}" class="img-resposive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Mudit Sand</h2>
        <h3>Marketing Strategist</h3>
        <p>First year Masters of Technology Student in Mechanical engineering with experience in marketing</p>
      </div>
      <div class="col-md-4 profile-pic text-center">
        <div class="img-box">
          <img src="{{url_for('static', filename='image/jay.jfif')}}" class="img-resposive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
            <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
          </ul>
        </div>
        <h2>Jaykumar Gupta</h2>
        <h3>Data Scientist</h3>
        <p>Sophomore with experience in machine learning and artificial intelligence</p>
      </div>
      <div class="col-md-4 profile-pic text-center">
      </div>
    </div>
  </div>
</section>
<!---Promo------->
<section id="promo">
  <div class="container">
    <p>Get free trial for a week</p>
    <a href="#contact" class="btn btn-primary">Contact Us</a>
  </div>
</section>
<!---Price Plans--------->
<section id="price">
  <div class="container">
    <h1>Price Plans</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="single-price">
          <div class="price-head">
            <h2>Free</h2>
            <p>$0/<span>month</span></p>
          </div>
          <div class="price-content">
            <ul>
              <li><i class="fa fa-check-circle"></i>5GB Space</li>
              <li><i class="fa fa-check-circle"></i>10GB Bandwidth</li>
              <li><i class="fa fa-times-circle"></i>15 Email Accounts</li>
              <li><i class="fa fa-times-circle"></i>Unlimited Domains</li>
              <li><i class="fa fa-times-circle"></i>Unlimited Support</li>
            </ul>
          </div>
          <div class="price-button">
            <a class="buy-btn" href="#">Join Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-price">
          <div class="price-head">
            <h2>Start Up</h2>
            <p>$10/<span>month</span></p>
          </div>
          <div class="price-content">
            <ul>
              <li><i class="fa fa-check-circle"></i>10GB Space</li>
              <li><i class="fa fa-check-circle"></i>100GB Bandwidth</li>
              <li><i class="fa fa-check-circle"></i>15 Email Accounts</li>
              <li><i class="fa fa-times-circle"></i>Unlimited Domains</li>
              <li><i class="fa fa-times-circle"></i>Unlimited Support</li>
            </ul>
          </div>
          <div class="price-button">
            <a class="buy-btn" href="#">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-price">
          <div class="price-head">
            <h2>Business</h2>
            <p>$50/<span>month</span></p>
          </div>
          <div class="price-content">
            <ul>
              <li><i class="fa fa-check-circle"></i>20GB Space</li>
              <li><i class="fa fa-check-circle"></i>200GB Bandwidth</li>
              <li><i class="fa fa-check-circle"></i>50 Email Accounts</li>
              <li><i class="fa fa-check-circle"></i>Unlimited Domains</li>
              <li><i class="fa fa-times-circle"></i>Unlimited Support</li>
            </ul>
          </div>
          <div class="price-button">
            <a class="buy-btn" href="#">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-price">
          <div class="price-head">
            <h2>Advanced</h2>
            <p>$100/<span>month</span></p>
          </div>
          <div class="price-content">
            <ul>
              <li><i class="fa fa-check-circle"></i>50GB Space</li>
              <li><i class="fa fa-check-circle"></i>Unlimited Bandwidth</li>
              <li><i class="fa fa-check-circle"></i>Unlimited Email Accounts</li>
              <li><i class="fa fa-check-circle"></i>Unlimited Domains</li>
              <li><i class="fa fa-check-circle"></i>Unlimited Support</li>
            </ul>
          </div>
          <div class="price-button">
            <a class="buy-btn" href="#">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---Testimonials----------->
<section id="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <p class="text-center">Look at what our customers have to say</p>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="{{url_for('static', filename='image/user1.jpg')}}" class="user">
            <blockquote>This website has been a boon I didnt know I needed. The team is punctual, with strong ethics and integrity. A great collaboration spirit</blockquote>
            <h3>Lady Sansa<span> Cofounder, Winterfell</span> </h3>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="{{url_for('static', filename='image/user2.jpg')}}" class="user">
            <blockquote>This website has been a boon I didnt know I needed. The team is punctual, with strong ethics and integrity. A great collaboration spirit</blockquote>
            <h3>Harry Potter<span> Cofounder, Hogwarts</span> </h3>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="{{url_for('static', filename='image/user3.jpeg')}}" class="user">
            <blockquote>This website has been a boon I didnt know I needed. The team is punctual, with strong ethics and integrity. A great collaboration spirit</blockquote>
            <h3>Alexander Chung<span> Cofounder, High Waters</span> </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!---Get in Touch--->
<section id="contact">
  <div class="container">
    <h1>Get In Touch</h1>
    <div class="row">
      <div class="col-md-6">
        <form class="contact-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your name">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Phone no.">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Id">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
        </form>
      </div>
      <div class="col-md-6 contact-info">
        <div class="follow">
          <b>Address: </b><i class="fa fa-map-marker"></i> XYZ Road,Bangalore, India.
        </div>
        <div class="follow">
          <b>Phone: </b><i class="fa fa-phone"></i> +91 99999-99999
        </div>
        <div class="follow">
          <b>Email: </b><i class="fa fa-envelope-o"></i> me@predictai.com
        </div>
        <div class="follow">
          <label><b>Get Social: </b></label>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-youtube-play"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>

      </div>
    </div>
  </div>
</section>
<!---Footer----->
<section id="footer">
  <div class="container text-center">
    <p>Made with <i class="fa fa-heart-o"></i> by Predict.ai</p>
  </div>
</section>
<!---Footer Close------>
<script src="{{url_for('static', filename='js/smooth-scroll.js')}}"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
  </body>

</html>
